// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

@import "measurements";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.search-field {
    border: #005EA5 4px solid;
    height: 60px;
    width: 97%;
    box-shadow: 0 2px 0 #003618;
    padding: 0;
    margin: 0;
    font: 32px Charles Wright Bold Caps;
    padding-left: 8px;
}

.search-box {
    height: 65px;
    width: 65px;
    background-color: #005EA5;
    background-image: url("/public/images/magnifying glass.svg");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    border-style: none;
    position: absolute;
    top: 0;
    left: 265px;
    padding: 0;
}

.search-container {
    position: relative;
    width: 70%;
    min-width: 300px;
    padding: 0;
    float: left;
}

.search-container-results {
    position: relative;
    width: 70%;
    min-width: 300px;
    padding: 0;
    float: right;
}

.sort {
    display: inline-block;
    margin-left: 120px;
}

.price-sort {
    width: 238px;
    margin-left: 120px;
}

.toolbar-view-options {
    float: right;
    margin-top: -4px;
}

.list-icon {
    height: 25px;
    width: 25px;
    background-image: url("/public/images/list-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;

}

.grid-icon {
    height: 25px;
    width: 25px;
    background-image: url("/public/images/grid-icon.svg");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;

}

.in-focus {
    display: inline-block;
    border: 3px solid #FFBF47;
    padding: 6px 6px 4px 6px;
}

.reg-icon-1 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-1.svg");
    background-repeat: no-repeat;
}

.reg-icon-2 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-2.svg");
    background-repeat: no-repeat;
}

.reg-icon-2-big {
    height: 100px;
    width: 333px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-2.svg");
    background-repeat: no-repeat;
}

.reg-icon-2-medium {
    height: 40px;
    width: 138px;
    background-size: 100%;
    background-position: center;
    background-image: url("/public/images/reg-icon-2.svg");
    background-repeat: no-repeat;
}

.reg-icon-3 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-3.svg");
    background-repeat: no-repeat;
}

.reg-icon-4 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-4.svg");
    background-repeat: no-repeat;
}

.reg-icon-5 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-5.svg");
    background-repeat: no-repeat;
}

.reg-icon-6 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-6.svg");
    background-repeat: no-repeat;
}

.reg-icon-7 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-7.svg");
    background-repeat: no-repeat;
}

.reg-icon-8 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-8.svg");
    background-repeat: no-repeat;
}

.reg-icon-9 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-9.svg");
    background-repeat: no-repeat;
}

.reg-icon-10 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-10.svg");
    background-repeat: no-repeat;
}

.reg-icon-11 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-11.svg");
    background-repeat: no-repeat;
}

.reg-icon-12 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-12.svg");
    background-repeat: no-repeat;
}

.reg-icon-13 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-13.svg");
    background-repeat: no-repeat;
}

.reg-icon-14 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-14.svg");
    background-repeat: no-repeat;
}

.reg-icon-15 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-15.svg");
    background-repeat: no-repeat;
}

.reg-icon-16 {
    height: 70px;
    width: 219px;
    background-size: 100%;
    background-position: center;
    border-style: none;
    background-image: url("/public/images/reg-icon-16.svg");
    background-repeat: no-repeat;
}

.show-more {
    width: 180px;
    text-align: center;
}

.button-container {
    text-align: center;
}