{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock %} {% block header %} {{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
        <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
</div>


{% endblock %} {% block content %}
<div class="govuk-!-margin-top-6 govuk-grid-row">
    <div class="govuk-!-margin-bottom-8 govuk-grid-column-one-half">

        <h2 class="govuk-heading-l">Search for a personalised registration number</h2>

        <p>Try searching by typing in the box. You can search <br>for absolutely anything.</p>

        <div class="govuk-!-margin-top-8 form-group">
            <div class="search-container">
                <input class="search-field" id="ni-number" type="text" name="ni-number">
                <button class="search-box button" role="button"></button>
            </div>
        </div>
    </div>


    <div class="govuk-grid-column-one-half">

        <h2 class="govuk-heading-l">Help me search for a registration number</h2>

        <p class="govuk-!-margin-bottom-8">We will ask you a number of questions to help you <br>in searching for a personalised registation number.</p>

        <button type="submit" class="govuk-button">Begin the search</button>


    </div>

</div>

{% endblock %}