{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock %} {% block header %} {{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
        <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
</div>


{% endblock %} {% block content %}
<div class="govuk-!-margin-top-6 govuk-grid-row">

    <div class="govuk-grid-column-full">
        <h1 class="govuk-!-margin-bottom-5 govuk-heading-xl">Search for a registration number</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <p>You can search by using a combination of letters and numbers. Try searching for <strong>names</strong>, <strong>initials</strong>, <strong>favourite sports</strong>, <strong>hobbies</strong> or even a <strong>memorable date</strong>.</p>
    </div>
    
    <div class="govuk-!-margin-bottom-9 govuk-grid-column-one-half">
        <div class="govuk-!-margin-top-4 form-group">
            <div class="search-container">
                <input class="search-field" id="ni-number" type="text" name="ni-number">
                <button class="search-box button" role="button"></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}